.header-1 {
  background-color: #357fee;
  width: 100%;
  height: 50px;
}

.icon-bar1{
 padding-top: 10px ;
 float: left;
 width: 50%;
 
}

.icon-bar1 a{
  display: inline;
  color: #fff;
  padding: 50px 30px;

  font-size: 15px;
  
}
.icon-bar2{
  float: right;
padding: 10px;
}

.icon-bar2 a{
  color: #fff;
  padding: 2px;

}


.logo{
  float: left;
}
.logo img{
  width: 80px;
  height: 80px;
  padding: 10px 10px;

}

.container {
  display: inline-block;
  cursor: pointer;
  padding: 10px 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f9f9f9;
  margin: 6px 0;
  transition: .90s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}



ul{
    margin: 0;
    padding: 0;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background-color: #dcf8fc;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd){
    background-color: #bfd3f2;
}

/* Darker background-color on hover */
ul li:hover{background-color: #478cf4;}


/* When clicked on, add a background color and strike out text */
ul li.checked{
    background-color: #c884da;
    color: #fff;
    text-decoration: line-through;
}


/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
}

.close:hover{
    background-color: #056aca;
    color : white;
}


/* Style the header */
.header2{
    background-color: #056aca;
    padding: 20px 10px;
    color: white;
    text-align: center;
}

/* Clear floats after the header2 */
.header2:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  /* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 5%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }





  /* Navbar container */
.navbar {
    display: block;
    overflow: hidden;
    background-color: #312ef1;
    font-family: Arial;
    height: 100px;
    width: 100%;
    background-image: radial-gradient(rgb(56, 56, 231) 0%, rgb(85, 156, 201) 0%, rgb(59, 59, 209));
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(132, 143, 236);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Mega Menu header, if needed */
  /* .dropdown-content .header3 {
    background: red;
    padding: 16px;
    color: white;
  } */
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #6055fa;
    height: 250px;
  }
  
  /* Style links inside the columns */
  .column a {
    float: none;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column a:hover {
    background-color: #c3d4f5;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }